## Local tweaks 
Background_materials/
Current/
Logistics/
Other_courses/
Pix/
Related_courses/
Grants/
Miscellaneous/
Junk/
Media/
Pix/
Samples/
Code/Data/
Code/Python/*.csv
Code/Python/*.zip
Code/Projects
.dropbox
.dropbox.attr
.ini
*.sqlite
.ipynb_checkpoints/

## Video 
*.mp4
*.mov

## Images
*.png

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex 
*.synctex.gz
*.bak
*.sav
*.synctex.gz(busy)
*.pdfsync
*.tex.bak
*.tex.sav

## Compiled python files:
*.pyc
Code/IPython/.ipynb_checkpoints/
