## Local tweaks 
Background_materials/
Current/
Logistics/
Other_courses/
Related_courses/
Grants/
Miscellaneous/
Media/
Samples/
Code/Data/
Coce/Projects
.dropbox

## Video 
*.mp4

## Images
*.png

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.syntex 
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Compiled python files:
*.pyc
