<section id="main-content" class="container main_content homepage">
    <h1 id="data-bootcamp">Data Bootcamp</h1>
    <p>Data + Python: A course at NYU’s Stern School of Business <br> <a href="bootcamp_faq.md">Course description &amp; FAQ</a></p>
    <p>Spring 2016 schedule</p>
    <ul>
    <li>Undergrad: ECON-UB.0232, Tuesday and Thursday, 2-3:15, KMC 4-90, January 26 to May 10</li>
    <li>MBA: ECON-GB.2313, Wednesday nights, 6-9pm, KMC 4-90, February 8 to May 9</li>
    </ul>
    <!--
    Discussion groups:  [UG](https://groups.google.com/forum/#!forum/nyu_data_bootcamp_ug) | [MBA](https://groups.google.com/forum/#!forum/nyu_data_bootcamp_mba)
    -->
    <p>Quick links: <a href="https://github.com/DaveBackus/Data_Bootcamp/blob/master/Documents/bootcamp_syllabus.pdf">Syllabus</a> | <a href="https://github.com/DaveBackus/Data_Bootcamp/blob/master/Documents/bootcamp_project.pdf">Project Guide</a> | <a href="bootcamp_outline.md">Outline</a> | <a href="bootcamp_duedates_mba.md">MBA Due Dates</a> | <a href="bootcamp_duedates_ug.md">UG Due Dates</a></p>
    <h2 id="before-the-first-class">Before the first class</h2>
    <ul>
    <li>Make sure you have a <strong>laptop computer</strong> to use in class. This is a must.<br />
    </li>
    <li>Take our <strong>entry poll</strong> (click on the <a href="https://docs.google.com/forms/d/1N7ugrqIQNHm_e1BLVAtaRMnC8SmSiTDMoYBy_0FYZic/viewform">link</a>, follow the instructions)</li>
    <li>Join a <strong>discussion group:</strong> <a href="https://groups.google.com/forum/#!forum/nyu_data_bootcamp_ug">UG</a> | <a href="https://groups.google.com/forum/#!forum/nyu_data_bootcamp_mba">MBA</a></li>
    <li><strong>Non-Stern students</strong> only: <a href="https://w3.stern.nyu.edu/start/home">activate your Stern account</a> for wireless access. If you have trouble, stop by the Help Desk in the lobby between KMC and Tisch or email <script type="text/javascript">
    <!--
    h='&#x73;&#116;&#x65;&#114;&#110;&#46;&#110;&#x79;&#x75;&#46;&#x65;&#100;&#x75;';a='&#64;';n='&#104;&#x65;&#108;&#112;&#100;&#x65;&#x73;&#x6b;';e=n+a+h;
    document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'" clas'+'s="em' + 'ail">'+e+'<\/'+'a'+'>');
    // -->
    </script><noscript>&#104;&#x65;&#108;&#112;&#100;&#x65;&#x73;&#x6b;&#32;&#x61;&#116;&#32;&#x73;&#116;&#x65;&#114;&#110;&#32;&#100;&#x6f;&#116;&#32;&#110;&#x79;&#x75;&#32;&#100;&#x6f;&#116;&#32;&#x65;&#100;&#x75;</noscript>.</li>
    </ul>
    <h2 id="contact-information">Contact information</h2>
    <p>Dave Backus: KMC 7-68, db3@nyu.edu, <a href="http://pages.stern.nyu.edu/~dbackus/">directions</a></p>
    <p><strong>MBA section</strong></p>
    <p>Chase Coleman, co-teacher, cc7768@gmail.com<br />
    Itamar Snir, teaching fellow, is1413@stern.nyu.edu</p>
    <p><strong>UG section</strong></p>
    <p>Spencer Lyon, co-teacher, sgl290@nyu.edu<br />
    teaching fellow, tba</p>
    <h2 id="course-materials">Course materials</h2>
    <p>In addition to the quick links at the top, keep in mind:</p>
    <ul>
    <li>Our <a href="https://www.gitbook.com/book/davebackus/test/details">book</a> (work in progress)</li>
    <li>Our <a href="https://github.com/DaveBackus/Data_Bootcamp#data-bootcamp">repository</a> (complete collection of documents and materials)</li>
    <li>Search: nyu data bootcamp</li>
    </ul>
</section>
